---
import "../styles/global.css";
import BuyMeACoffeList from "../components/BuyMeACoffeList.astro";
import Hotjar from "../components/Hotjar.astro";

const metadata = {
  title: "Convertir texto: Mayúsculas a Minúsculas y Viceversa Online",
  description:
    "Con nuestro moderno conversor web, podrás convertir texto entre mayúsculas y minúsculas de manera sencilla y eficiente. Simplemente introduce el texto deseado y selecciona la opción deseada de nuestra interfaz para llevar a cabo la conversión deseada.",
  url: "https://minusculasymayusculas.com/",
  urlimg: "https://minusculasymayusculas.com/logo.png",
};
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{metadata.title}</title>
    <meta name="description" content={metadata.description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={metadata.url} />
    <Hotjar />
    <meta property="og:title" content={metadata.title} />
    <meta property="og:description" content={metadata.description} />
    <meta property="og:image" content={metadata.urlimg} />
    <meta property="og:url" content={metadata.url} />
    <meta property="og:type" content="website" />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={metadata.url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={metadata.description} />
    <meta property="og:description" content={metadata.description} />
    <meta property="og:image" content={metadata.urlimg} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={metadata.url} />
    <meta property="twitter:url" content={metadata.url} />
    <meta name="twitter:title" content={metadata.description} />
    <meta name="twitter:description" content={metadata.description} />
    <meta name="twitter:image" content={metadata.urlimg} />
  </head>
  <body class="min-h-screen flex justify-center items-center p-3">
    <div class="max-w-full sm:max-w-screen-md mx-auto">
      <main>
        <slot />
      </main>
      <footer class="flex justify-center items-center">
        <BuyMeACoffeList />
      </footer>
    </div>
  </body>
</html>
