---
import "../styles/global.css";
import BuyMeACoffeList from "../components/BuyMeACoffeList.astro";
import Hotjar from "../components/Hotjar.astro";

const metadata = {
  title:
    "Convertir texto a mayúsculas o minúsculas online | Herramienta Online Gratuita",
  description:
    "Utiliza nuestro conversor gratuito en linea para cambiar fácil y rápidamente el formato de tus textos a mayúsculas o minúsculas. ¡Optimízalo, edítalo y personalízalo sin esfuerzo!",
  url: "https://minusculasymayusculas.com/",
  urlimg: "https://minusculasymayusculas.com/logo.png",
};
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{metadata.title}</title>
    <meta name="description" content={metadata.description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={metadata.url} />
    <Hotjar />
    <meta property="og:title" content={metadata.title} />
    <meta property="og:description" content={metadata.description} />
    <meta property="og:image" content={metadata.urlimg} />
    <meta property="og:url" content={metadata.url} />
    <meta property="og:type" content="website" />
    <meta
      name="google-site-verification"
      content="EiVeXAlUPH8SO35GbfwodMcR7bAj7DAHoqYxJ2t1DcQ"
    />

    <!-- Facebook Meta Tags -->
    <meta property="og:url" content={metadata.url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={metadata.description} />
    <meta property="og:description" content={metadata.description} />
    <meta property="og:image" content={metadata.urlimg} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={metadata.url} />
    <meta property="twitter:url" content={metadata.url} />
    <meta name="twitter:title" content={metadata.description} />
    <meta name="twitter:description" content={metadata.description} />
    <meta name="twitter:image" content={metadata.urlimg} />
  </head>
  <body class="max-h-screen flex justify-center mt-3 sm:mt-7 p-3">
    <div class="max-w-screen-sm">
      <main>
        <slot />
      </main>
      <footer class="flex justify-center items-center mt-6">
        <BuyMeACoffeList />
      </footer>
    </div>
  </body>
</html>
