---
import "../styles/global.css";
import Font from "../components/fonts/Font.astro";

const metadata = {
  title: "Convertidor de Texto: Mayúsculas a Minúsculas | Online",
  description:
    "Convierte texto a mayúsculas o minúsculas fácilmente con nuestra herramienta online. Introduce tu texto y elige la opción para una conversión rápida y sencilla.",
  url: "https://minusculasymayusculas.com/",
  urlimg: "https://minusculasymayusculas.com/logo.png",
  ogdescription:
    "Convierte texto a mayúsculas o minúsculas con nuestra herramienta online",
  type: "website",
  sitename: "Mayúsculas a Minúsculas",
  creator: "Lunox | Moises Obando",
};
---

<html lang="es">
  <head>
    <Font />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{metadata.title}</title>
    <meta name="description" content={metadata.description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="apple-touch-icon" href="/favicon.svg" />
    <link rel="canonical" href={metadata.url} />

    <!-- Facebook Meta Tags -->
    <meta property="og:title" content={metadata.title} />
    <meta property="og:description" content={metadata.description} />
    <meta property="og:image" content={metadata.urlimg} />
    <meta property="og:type" content={metadata.type} />
    <meta property="og:url" content={metadata.url} />
    <meta property="og:site_name" content={metadata.sitename} />

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content={metadata.url} />
    <meta property="twitter:domain" content={metadata.url} />
    <meta property="twitter:url" content={metadata.url} />
    <meta name="twitter:title" content={metadata.title} />
    <meta name="twitter:description" content={metadata.description} />
    <meta name="twitter:image" content={metadata.urlimg} />
    <meta name="twitter:creator" content={metadata.creator} />
  </head>
  <body class="relative">
    <div
      class="absolute bg-fixed top-0 z-[-2] flex flex-col justify-start sm:justify-center items-start sm:items-center p-4 min-w-full h-screen bg-neutral-950 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    >
      <div class="max-w-screen-lg mt-12 sm:mt-0">
        <main>
          <slot />
        </main>
        <!-- <footer class="flex justify-center items-center">
          <BuyMeACoffeList />
        </footer> -->
      </div>
    </div>
  </body>
</html>
